@page  "/trainee/create"

<h3 class="card-title">Create Trainee</h3>

<EditForm Model="@trainee" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary></ValidationSummary>

    <div class="form-group row">
        <label for="Id" class="col-form-label">Id: </label>
        <InputNumber id="Id" class="form-control" @bind-Value="@trainee.Id" placeholder="Trainee Id"></InputNumber>
    </div>

    <div class="form-group row">
        <label for="Name" class="col-form-label">name: </label>
        <InputText id="Name" class="form-control" @bind-Value="@trainee.Name" placeholder="Trainee Name"></InputText>
    </div>


    <div class="form-group row">
        <label for="birthdate" class="col-form-label">Birthdate: </label>
        <InputDate id="birthdate" class="form-control" @bind-Value="@trainee.BirthDate" placeholder="Trainee BirthDate"></InputDate>
    </div>

    <div class="form-group row">
        <label for="email" class="col-form-label">Email: </label>
        <InputText id="email" class="form-control" @bind-Value="@trainee.Email" placeholder="Trainee Email"></InputText>
    </div>

    <div class="form-group row">
        <label for="MobileNo" class="col-form-label">Mobile No: </label>
        <InputText id="MobileNo" class="form-control" @bind-Value="@trainee.PhoneNumber" placeholder="Trainee phone number"></InputText>
    </div>

    <div class="form-group row">
        <label for="gender" class="col-form-label">Trainee Gender: </label>
        <InputSelect id="gender" class="form-control" @bind-Value=@trainee.Gender>
            <option value="@(sharedLibarary.Gender.Male)">Male</option>
            <option value="@(sharedLibarary.Gender.Female)">Female</option>
        </InputSelect>
    </div>

    <div class="form-group row">
        <label for="IsGraduated" class="col-form-label">IsGraduated: </label>
        <InputSelect id="gender" class="form-control" @bind-Value=@trainee.IsGraduated>
            <option value="@(true)">True</option>
            <option value="@(false)">False</option>
        </InputSelect>
    </div>

    <div class="form-group row">
        <label for="trackId" class="col-form-label">track Id: </label>
        <InputNumber id="trackId" class="form-control" @bind-Value="@trainee.TrackId" placeholder="Track"></InputNumber>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</EditForm>

@code {

    sharedLibarary.Trainee trainee = new sharedLibarary.Trainee();

    private void HandleValidSubmit()
    {
        sharedLibarary.ITIContext.trainees.Add(trainee);
    }

}